<%- include("navbar.ejs")%>


<form action="/admin/save_about_our_program" method="post" enctype="multipart/form-data">
    <div class="container p-5 bg-white">
        <div class="row">
            <div class="col-md-12">
                <h1>Add About Our Program</h1>
            </div>
            <div class="col-md-6">
                <label for="">Title</label>
                <input type="text" class="form-control" name="about_our_program_title">
            </div>
            <div class="col-md-6">
                <label for="">Description</label>
                <input type="text" class="form-control" name="about_our_program_desc">
            </div>
            <div class="col-md-12 text-center mt-5">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>



<div class="container mt-5 overflow-auto">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th></th>
                    <th>SN</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                <% for(var i=0;i<about_program_data.length;i++){%>
                    <tr>
                        <td style="white-space: nowrap;">
                            <a href="/admin/edit_about_program_data/<%=about_program_data[i].about_our_program_id%>">
                                <button class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i></button>
                            </a>
                            <a href="/admin/delete_about_program_data/<%=about_program_data[i].about_our_program_id%>">
                                <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </a>
                        </td>
                        <td><%=i+1%></td>
                        <td><%=about_program_data[i].about_our_program_title%></td>
                        <td><%=about_program_data[i].about_our_program_desc%></td>
                    </tr>
                    <%}%>
            </table>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>